{{>header}}
        <h1>{{title}}</h1>
        {{>nav}}
        <p>Welcome to express npm module .
            In this page we will discuss abouthe wonking of express and important function of express
        </p>
{{>footer}}
