{{>header}}
        <h1>{{title}}</h1>
        {{>nav}}
        <p>
            This is my first web application to using node js . Please visit <strong>weather</strong> tab for checking out weather app.
        </p>
{{>footer}}
