{{>header}}
<h1>{{title}}</h1>
{{>nav}}
    <form class="location-form">
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <p id="empty-error"></p>
    <p id="location-details"></p>
{{>footer}}